:root{
    --orange: #ffa500;
    --gray: #333; 
    --white: #fff;
}

*{
    font-family: "Nunito", sans-serif;
    padding: 0px; margin: 0px;
    box-sizing: border-box;
    border: none; outline: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    scroll-behavior: smooth;
}

*::selection{
    background-color: var(--orange);
    color: var(--gray);
}



section{
    padding: 1rem 5%;
}

.btn{
   display: inline-block;
   color: var(--white);
   background: var(--orange); 
   border: .2rem solid var(--orange);
   font-size: 1.5rem;
   cursor: pointer;
   padding: .4rem 1.2rem;
  
}

.btn:hover{
    background: rgba(255, 160, 0, .2);
    color: var(--orange);
}

.heading{
    text-align: center;
    margin: 2rem 0;
}

.heading span{
    color: var(--orange);
    background: rgba(255, 160, 0, .2);
    font-size: 3rem;
    padding: .2rem .4rem;
    border-radius: .2rem;
}

.heading .space{
    background: none;
}

header{
    z-index: 1000;
    position: fixed;
    top: 0px; left: 0px; right: 0px;
    background: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;  
}

header #menu-bar{
    color: var(--white);
    font-size: 2rem;
    border: 1px solid var(--white);
    border-radius: .5rem;
    padding: .2rem .5rem;
    cursor: pointer;
    display: none;
}

header #menu-bar:hover{
    color: var(--orange);
    border-color: var(--orange);
}

header .logo{
    font-size: 2rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
}

header .logo span{
    color: var(--orange);
}

header .navbar a{
    font-size: 1.4rem;
    color: var(--white);
    margin-right: 1rem;
}

header .navbar a:hover{
    color: var(--orange);
    text-decoration: underline;
}

header .icons i{
    font-size: 1.5rem;
    color: var(--white);
    margin-right: .5rem;
    cursor: pointer;
}

header .icons i:hover{
    color: var(--orange);
}

header .search-bar{
    position: absolute;
    top: 100%; left: 0; width: 100%;
    background: var(--gray);
    border-top: 2px solid rgba(255, 255, 255, .2);
    padding: .5rem;
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar input{
    width: 100%;
    font-size: 1.2rem;
    color: var(--gray);
    border-radius: .5rem;
    padding: .5rem;
}

header .search-bar label{
    color: var(--white);
    font-size: 1.4rem;
    margin-left: .5rem;
}

/* ....................... Login-now......................... */

.login-now{
    z-index: 1001;
    background: rgba(0, 0, 0, .2);
    height: 100vh;
    position: fixed;
    top: -120%; left: 0; width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
}

.login-now.active{
    top: 0;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
}

.login-now i{
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
    position: absolute;
    top: 1.7rem; right: 1.2rem;
}

.login-now i:hover{
    color: var(--orange);
}

.login-now form{
    background: var(--white);
    padding: 2rem;
    border-radius: .5rem;
}

.login-now form h2{
    text-align: center;
    font-size: 2.5rem;
    color: var(--gray);
    text-transform: uppercase;
}


.login-now form input[type=email],
.login-now form input[type=password]{
    width: 100%;
    border: 1px solid var(--gray);
    color: var(--gray);
    font-size: 1.2rem;
    margin: .5rem 0;
    padding: .5rem;
    text-transform: none;
}

.login-now form input:focus{
    border-color: var(--orange);
}

.login-now form .btn{
    width: 100%;
    margin-bottom: .5rem;
}

.login-now form label{
    font-size: 1.2rem;
    color: var(--gray);
    text-transform: lowercase;
}

.login-now form p{
    color: var(--gray);
    font-size: 1.2rem;
}

.login-now form p a{
    color: var(--orange);
}

.login-now form p a:hover{
    color: var(--gray);
    text-decoration: underline;
}


/* ...................... Home ................... */

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home video{
    position: absolute;
    top: 0; left: 0;
    width: 100%;  height: 100%;
    object-fit: cover;
    z-index: -1;
}

.home .content{
    text-align: center;
    color: var(--white);
}

.home .content h1{
    font-size: 4rem;
    text-transform: uppercase;
}

.home .content p{
    font-size: 2rem;
}


/* ........................ Book ................. */

.book .inner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.book .inner .image{
    width: 49%;
}

.book .inner .image img{
    width: 100%;
}

.book .inner form{
    width: 49%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
    border-radius: .5rem;
    padding: 2rem;
}

.book .inner form .inputbox h3{
    color: var(--gray);
    font-size: 1.5rem;
    margin: .5rem 0;
}

.book .inner form .inputbox input{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .3);
    font-size: 1.2rem;
    color: var(--gray);
    padding: .7rem;
    text-transform: none;
}

.book .inner form .inputbox input:focus{
    border-color: var(--orange);
}

.book .inner form .btn{
    margin-top: .5rem;  
}

/* ................... Packages ................. */

.packages .inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.packages .inner .box{
    width: 30%;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .3);

}

.packages .inner .box img{
    width: 100%;
    height: 20rem;
}

.packages .inner .box .content{
    padding: .8rem;
}

.packages .inner .box .content h3{
    font-size: 1.5rem;
    color: var(--gray);
}

.packages .inner .box .content h3 i{
    color: var(--orange);
    font-size: 1.4rem;
}

.packages .inner .box .content p{
    font-size: 1.2rem;
    color: var(--gray);
    font-style: italic;
    margin: .2rem 0;
}

.packages .inner .box .content .stars{
    color: var(--orange);
    font-size: 1rem;
}

.packages .inner .box .content .price{
    font-size: 1.1rem;
    color: var(--gray);
    margin: .2rem 0;
}

.packages .inner .box .content .price span{
    font-size: 1rem;
    color: #666;
    text-decoration: line-through;
}

/* .................. Services ................. */

.services .inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.services .inner .box{
    text-align: center;
    padding: .5rem;
}

.services .inner .box:hover{
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .3) ;
    border-radius: .5rem;
}

.services .inner .box i{
    color: var(--orange);
    font-size: 3rem;
}

.services .inner .box h5{
    font-size: 1.4rem;
    color: var(--gray);
    padding: .5rem 0;
}

.services .inner .box p{
    font-size: .9rem;
    color: var(--gray);
}


/* ................... gallery ................ */

.gallery .inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.gallery .inner .box{
    width: 24%;
    position: relative;
    overflow: hidden;
}

.gallery .inner .box img{
    width: 100%;
    height:18rem;
}

.gallery .inner .box .content{
    position: absolute;
    top: -120%; left: -120%;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    padding: 5rem;
}

.gallery .inner .box:hover .content{
    top: 0; left: 0;
    transition: .3s;
}

.gallery .inner .box .content h3{
    font-size: 1.5rem;
    color: var(--orange);
}

.gallery .inner .box .content p{
    color: var(--white);
    font-size: 1rem;
    padding: .3rem 0;
}


/* ................... Contact ............. */

.contact .inner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .inner .image{
    width: 49%;
}

.contact .inner .image img{
    width: 100%;
}

.contact .inner form{
    width: 49%;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
    border-radius: .5rem;
    padding: 2rem;
}

.contact .inner form .inputbox{
    display: flex;
    justify-content: space-between;
    margin: .3rem 0;
}

.contact .inner form .inputbox input{
    background: rgba(0, 0, 0, .2);
    font-size: 1.3rem;
    color: var(--gray);
    width: 49%;
    padding: .5rem;
    text-transform: none;
}

.contact .inner form .inputbox input::placeholder{
    text-transform: capitalize;
}

.contact .inner form textarea{
    background: rgba(0, 0, 0, .2);
    font-size: 1.3rem;
    color: var(--gray);
    text-transform: none;
    width: 100%;
    padding: .5rem;
    resize: none;
}

.contact .inner form textarea::placeholder{
    text-transform: capitalize;
}

/* ................ Footer .............. */

footer{
    background: var(--gray);
}

footer .inner{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

footer .inner .box{
    width: 24%;
}

footer .inner .box h3{
    font-size: 1.5rem;
    color: var(--white);
}

footer .inner .box p{
    color: var(--white);
    font-size: 1.1rem;
}

footer .inner .box a{
    font-size: 1.1rem;
    color: var(--white);
    display: block;
}

footer .inner .box a:hover{
    color: var(--orange);
    text-decoration: underline;
}

footer .created{
    font-size: 1.3rem;
    color: var(--white);
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, .2);
    padding: 1rem 0;
}

footer .created a{
    color: var(--orange);
}

footer .created a:hover{
    color: var(--white);
    text-decoration: underline;
}



@media(max-width: 1200px){
    section{
        padding: 1rem 1%;
    }

    .gallery .inner .box {
        width: 23%;
    }

    .gallery .inner .box .content{
        padding: 3.5rem .3rem;
    }
}

@media(max-width: 976px){
    .book .inner{
        flex-wrap: wrap;
    }

    .book .inner form{
        width: 90%;
    }

    .packages .inner .box{
        width: 49%;
    }

    .gallery .inner .box{
        width: 49%;
    }

    .contact .inner{
        flex-wrap: wrap;
    }

    .contact .inner form{
        width: 90%;
    }
}

@media(max-width: 767px){
    header .navbar{
        position: absolute;
        top: 100%; left: 0;
        background: var(--gray);
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, .2);
    }

    header .navbar a{
        display: block;
        background: rgba(0, 0, 0, .5);
        padding: .5rem;
        margin: .5rem;
    }

    header #menu-bar{
        display: initial;
    }
}